<header class="header">
    <div class="logo">
        <a href="http://localhost:3000/">
            <img src="img/CIPHER.png" width="160px ">
        </a>
    </div>
    <nav class="desktopnav">
        <div> <a href="/asic"> Asic </a> </div>
        <div> <a href="/rigs"> Rigs </a> </div>
        <div> <a href="/nosotros"> Nosotros </a> </div>
        <div> <a href="/contacto"> Contacto </a> </div>
        <i class="iconos"></i>
        <div> <a href="/login"> <img class="login" src="img/User icon.png" alt=""> </a> </div>
        <div> <a href="/carrito"> <img class="shop" src="img/Shop icon.png" alt=""> </a> </div>
        </i>
    </nav>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="asic">
                    <li>Asic</li>
                </a>
                <a href="rigs">
                    <li>Rigs</li>
                </a>
                <a href="nosotros">
                    <li>Nosotros</li>
                </a>
                <a href="contacto">
                    <li>Contacto</li>
                </a>
                <a href="login">
                    <li>Cuenta</li>
                </a>
                <a href="productCart">
                    <li>Compras</li>
                </a>
            </ul>
        </div>
    </nav>
</header>