<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <meta charset="utf-8">
        <link href="css/style.css"
              rel="stylesheet" type="text/css">
              <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
              <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </head>
            <body>
                <style>
                    body {
                      background-image: url('img/Back\ -\ home.jpg');
                    }
                    </style>
                    <header class="header">
                        <div class="logo">
                          <a href="http://localhost:3000/">
                          <img src="img/CIPHER.png"width="160px">
                          </a>
                        </div>
                        <nav class="desktopnav">
                          <div> <a  href="/asic"> Asic </a> </div>
                          <div> <a  href="/rigs"> Rigs </a> </div>
                          <div> <a  href="/nosotros"> Nosotros </a> </div>
                          <div> <a  href="/contacto"> Contacto </a> </div>
                          <i class="iconos"></i>
                          <div> <a  href="/loguearse"> <img class="login" src="img/User icon.png" alt=""> </a> </div>
                          <div> <a  href="/carrito"> <img class="shop" src="img/Shop icon.png" alt=""> </a> </div>
                        </i>
                        </nav>
                        <nav role="navigation">
                          <div id="menuToggle">
                              <input type="checkbox" />
                              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                    <a href="/asic"><li>Asic</li></a>
                    <a href="/rigs"><li>Rigs</li></a>
                    <a href="/nosotros"><li>Nosotros</li></a>
                    <a href="/contacto"><li>Contacto</li></a>
                    <a href="/loguearse"><li>Cuenta</li></a>
                    <a href="/carrito"><li>Compras</li></a>
                  </ul>
                </div>
              </nav>
                    </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>
