<!DOCTYPE html>
<html>
    <head>
      <title>Home</title>
<meta charset="utf-8">
<link href="css/style.css"
      rel="stylesheet" type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            body {
              background-image: url('design/Back\ -\ home.jpg');
            }
            </style>
        <header class="header">
            <div class="logo">
              <a href="http://localhost:3000/">
                <img src="design/CIPHER.png" width="160px ">
              </a>
            </div>
            <nav class="desktopnav">
              <div> <a  href="asic.html"> Asic </a> </div>
              <div> <a  href="rigs.html"> Rigs </a> </div>
              <div> <a  href="nosotros.html"> Nosotros </a> </div>
              <div> <a  href="../views/users/register.html"> Registro </a> </div>
              <i class="iconos"></i>
              <div> <a  href="login.html"> <img class="login" src="design/User icon.png" alt=""> </a> </div>
              <div> <a  href="productCart.html"> <img class="shop" src="design/Shop icon.png" alt=""> </a> </div>
            </i>
            </nav>
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <a href="asic.html"><li>Asic</li></a>
        <a href="rigs.html"><li>Rigs</li></a>
        <a href="nosotros.html"><li>Nosotros</li></a>
        <a href="contacto.html"><li>Contacto</li></a>
        <a href="login.html"><li>Cuenta</li></a>
        <a href="productCart.html"><li>Compras</li></a>
      </ul>
    </div>
  </nav>
        </header>
        <main>
          <main>
          <div class= "Productos">
            <p class="article">Bitcoin Miner S9j Pro</p>
        <br></br>
            <p>El minero bitcoin más potente del mundo hasta ahora. Antminer S19 Pro es un equipo de minería de algoritmo SHA-256 fabricado por Bitmain.</p>
          </div>
          <div class = "imagenProducto">
  
            <img class="miner" src="design/Products/Bitcoin Miner S19 XP.png" alt="La imagen no pudo cargar correctamente">
          </div>
            <br>
            <br>
          </div>
       </div>
       <div class = "barraProductos">
         <div class = "flechaIzqProductos">
          <img src="design/Flecha Left.png">
        </div>
        <div class = "imagenesBarraProductos">
          <img src="design/Products/Bitcoin Miner S19.png" alt="La imagen no pudo cargar correctamente">
        </div>
        <div class = "imagenesBarraProductos">
          <img src="design/Products/Bitcoin Miner S19 Pro.png" alt="La imagen no pudo cargar correctamente">
        </div>
        <div class = "imagenesBarraProductos">
          <img src="design/Products/Bitcoin Miner S19 XP.png" alt="La imagen no pudo cargar correctamente">
        </div>
        <div class = "imagenesBarraProductos">
          <img src="design/Products/Bitcoin Miner S19 Pro+ Hyd..png" alt="La imagen no pudo cargar correctamente">
        </div>
        <div class = "flechaDerProductos">
          <img src="design/Flecha Right.png">
        </div>

        </main>
        <footer>

        </footer>
    </body>
</html>

