<!DOCTYPE html>
<html>
    <head>
        <title>Logueo</title>
<meta charset="utf-8">
<link href="css/login.css"
      rel="stylesheet" type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <style>
            body {
              background-image: url('design/Back\ sesión.webp');
            }
            </style>
        <header class="header">
            <div class="logo">
              <a href="http://localhost:3000/">
              <img src="design/CIPHER.png"width="160px">
              </a>
            </div>
            <nav class="desktopnav">
              <div> <a  href="asic.html"> Asic </a> </div>
              <div> <a  href="rigs.html"> Rigs </a> </div>
              <div> <a  href="nosotros.html"> Nosotros </a> </div>
              <div> <a  href="contacto.html"> Contacto </a> </div>
              <i class="iconos"></i>
              <div> <a  href="login.html"> <img class="login" src="design/User icon.png" alt=""> </a> </div>
              <div> <a  href="productCart.html"> <img class="shop" src="design/Shop icon.png" alt=""> </a> </div>
            </i>
            </nav>
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <a href="asic.html"><li>Asic</li></a>
        <a href="rigs.html"><li>Rigs</li></a>
        <a href="nosotros.html"><li>Nosotros</li></a>
        <a href="contacto.html"><li>Contacto</li></a>
        <a href="login.html"><li>Cuenta</li></a>
        <a href="productCart.html"><li>Compras</li></a>
      </ul>
    </div>
  </nav>
  </header>
        <main>
          <h1>Iniciar sesión</h1>
          
<form action="register.html" method="post" class="formulario">
  <label>Email</label>
  <input type="text"  class="control" name="nombre" placeholder="Ingrese su Email">
  <label>Constraseña</label>
  <input type="password" class="control" name="apellido" placeholder="Ingrese su Constraseña">
  <div><button type="submit" class="botons2" href="/views/register.html">Siguiente</button>
  <p></p><a href="#">¿Olvidaste tu contraseña?</a></p>  
  <p>o</p>
  <button class="botons1" type="submit" href=>Crear Cuenta</button></div>

</form> 
        </main>
        <footer>

        </footer>
    </body>
</html>
