*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
main{
    width: 100%;
    height: auto;
}

.Productos {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;

  }
  
  img{
    max-height: 100%;
    max-width: 100%;
  }

  .imagenProducto {
    height: 30%;
    width: 30%;
    max-height: 300px;
    max-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
  
  }

.textoProductos{
    height: 45%;
    width: 55%;
    max-height: 420px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0.5);
    flex-wrap: wrap;

}

.botonCompra{
    border-radius: 30px;
    min-width: auto;
    min-height: auto;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.661);
    color: #fff;
}

h1{
  font-size: 2.2vw;
}


h2{
  font-size: 1.7vw;
}

h3{
  font-size: 1.3vw;
}

.barraProductos{
    height: 45%;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.imagenesBarraProductos {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
  width: 300px;
  background-color: rgba(50, 50, 50, 0.705);
  border-radius: 30px;

}


  

.flechaIzqProductos{
    height: 50px;
    width: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.flechaDerProductos{
    height: 50px;
    width: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

body{
    background-size: cover ;
    font-family: Didact Gothic;
    backdrop-filter: brightness(60%) contrast(120%) blur(2px);
    height: 100vh;
    width: 100%;
    margin: 0%;
}
nav{
  
    font-family: Didact Gothic;
    color: white;
    font-size: 14px;
    margin-right:250px;
    margin-top: auto;
}
nav a{
  
    color:white;
    text-decoration: none;
    padding: 1em;
    margin-top:auto;

}
nav a:hover {
    color: grey;
}
.header{ 
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-left: 15px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: 16px;

}
.login{
    width: 12px;
}

.shop{
    width: 14px;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: right;
  align-content: flex-start;
  
}

#menuToggle
{
  display: block;
  position:absolute;
  top: 20px;
  right: -60px;
  padding-right: 100px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffffff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(159, 159, 159);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
  
  
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;

}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fafafa;

}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 20px;
  padding-top: 125px;
  right: -100px;
  
  background: #232121;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 18px;
  padding-top: 2px;
}

.desktopnav {
  display: flex;
  flex-direction: row;
  margin-right: 30%;
}


input{
  background-color:rgba(68,62,60,0.5);
  color: white;
}
label{
  text-align: left;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
@media screen and (max-width: 900px) {
.desktopnav {display: none;}
.logo {width: 100px}
}

@media screen and (min-width: 1000px) {
    #menuToggle {display: none};
    #menu {display: none};
}
