<!DOCTYPE html>
<html>

<head>
  <title>Registro</title>
  <meta charset="utf-8">
  <%- include ('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('/img/Back\ register.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  </nav>
  <main class="main">
    <h1>Crea Tu cuenta</h1>
    <h2>Es rápido y fácil</h2>
    <form action="register.html" method="get" class="formulario">
      <label>Nombre</label>
      <input type="text" class="control" name="nombre" placeholder="Ingrese su Nombre">
      <label>Apellido</label>
      <input type="text" class="control" name="apellido" placeholder="Ingrese su Apellido">
      <label>Email</label>
      <input type="email" class="control" name="email" placeholder="Ingrese su Email">
      <label>Contraseña</label>
      <input type="password" class="control" name="contraseña" placeholder="Ingrese su Constraseña">
      <div><button type="submit" class="botons2" href="/views/users/register.html">Crear Cuenta</button>
        <p class="parrafo">o</p>
        <button class="botons1" type="submit" href="/views/users/login.html">Ingresar</button>
      </div>

    </form>

  </main>
  <footer>

  </footer>
</body>

</html>