<!DOCTYPE html>
<html>

<head>
  <title>Asic</title>
  <meta charset="utf-8">
  <%- include('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('img/Back - home.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  <main>
    <h1>
      <div class="linkProductDetail">
        <a href="/productos"> Product Detail </a>
      </div>
    </h1>
  </main>
  <footer>

  </footer>
</body>

</html>