<!DOCTYPE html>
<html>

<head>
  <title>Rigs</title>
  <%- include('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('img/Back - home.jpg');
    }
  </style>
  <%- include ('../partials/header') %>

  <main>

  </main>
  <footer>

  </footer>
</body>

</html>